/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* GENERAL*/


@font-face {
    font-family: 'gothicregular';
    src: url('cssfont/fonts/LeagueGothic/leaguegothic-regular-webfont.eot');
    src: url('cssfont/fonts/LeagueGothic/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('cssfont/fonts/LeagueGothic/leaguegothic-regular-webfont.woff2') format('woff2'),
         url('cssfont/fonts/LeagueGothic/leaguegothic-regular-webfont.woff') format('woff'),
         url('cssfont/fonts/LeagueGothic/leaguegothic-regular-webfont.ttf') format('truetype'),
         url('cssfont/fonts/LeagueGothic/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style-type: none;
}

h3{
  text-align: center;
}
p, ul{
font-family: caviardreamsbold;
flex-grow: 2;
align-self: flex-end;

}
section li{
  font-family: gothicregular;
font-size: 3.5em;
list-style-type: none;
list-style-image: url("img/japan32.png");
}

/*HEADER*/
header  {
    text-align: center;
    background-color: silver;
    background-image: linear-gradient(335deg, #b00 23px, transparent 23px),
    linear-gradient(155deg, #d00 23px, transparent 23px),
    linear-gradient(335deg, #b00 23px, transparent 23px),
    linear-gradient(155deg, #d00 23px, transparent 23px);
    background-size: 58px 58px;
    background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;
}

/*=================CACHER LE TITRE============================*/
header h1 {
    opacity: 0;
    margin: 0;
}

/*========================NAV================================*/
nav {
    background-color: silver;
}
nav ul {
    display: flex;
    justify-content:space-around;
}

nav ul li {
    margin: auto;
    width: 150px;
    font-family: 'gothicregular';
    font-size: 1.5em;
}

nav ul li:hover {
    cursor: pointer;
    color: white;
}

nav>ul>li:hover:before {
    transform:rotate(1440deg);
    transition:linear 4s;
   -moz-transform:rotate(1440deg);
   -moz-transition:linear 4s;
}

nav>ul>li:before {
    content:url("../img/japan20.png");
    margin-right: 5px;
    color: black;
}

nav ul li ul {
    display: none;
}

nav ul li:hover ul {
    display: block;
    position: absolute;
    background-color: silver;
    text-align: center;
    font-size: .7em;
}

/*=====================AJOUT DES NINJAS DANS LA LISTE DES MEMBRES ET DIMENSIONNEMENT =============================*/
nav ul li ul li:first-child:before {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    content: "";
    background: url("../img/embleme_kevin.png") no-repeat 0 0;
    background-size: 100%;
}

nav ul li ul li:nth-child(2):before {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    content: "";
    background: url("../img/embleme_jeanne.png") no-repeat 0 0;
    background-size: 100%;
}

nav ul li ul li:nth-child(3):before {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    content: "";
    background: url("../img/embleme_kevin_l.png") no-repeat 0 0;
    background-size: 100%;
}

nav ul li ul li:last-child:before {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    content: "";
    background: url("../img/embleme_sarah.png") no-repeat 0 0;
    background-size: 100%;
}

/*============ANIMATION DES NINJAS ET MODIF COULEUR DES LIENS====================*/

nav ul li ul li:hover:before {
    transform:translateY(-6px);

}

nav ul li a:hover {
    color: white;
}
/*SECTION*/












/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
