.kevin-c {
  background-color: rgb(77, 179, 224); /*bleu */
}
.jeanne-darc {
  background-color: rgb(159, 59, 168);/* violet*/
}
.chinois {
  background-color: rgb(231, 145, 37);/* orange */
}
.sarah {
  background-color: rgb(183, 36, 38); /* rouge*/
}
nav {}
